::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #7f7f7fd0;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7f7f7f;
}
